---
title: "background"
format: html
---

/* custom-theme.scss */

/*-- scss:defaults --*/

// Set the background color of the navbar
$navbar-bg: #ADD8E6; // Example: Light Blue. Use any hex color code you prefer.
// You might also want to adjust the text color on the navbar for contrast
$navbar-fg: #000000; // Example: Black text for contrast with light blue background